header{
  background-image: url(/assets/img/cabecera.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 250px 0;
}

ul{
  background-color: #393e4b;
  text-align: center;
  margin-bottom: 0px;
  padding: 15px;

  li{
  list-style-type: none;
  display: inline-block;

    a{
      border: 1px solid rgb(96, 100, 99);
      color: white;
      text-decoration: none;
      font-family:"montserrat",sans-serif;
      display: block;
      width: 250px;
      padding: 13px;
      margin: 8px;
    }
    a:hover{
      background-color:rgb(94, 104, 139);
    }
  }
}